<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <h2>Tasks</h2>
    <div ng-controller="mainController as todoList">

      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      <button ng-click="todoList.archive()">clear</button>

      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>

      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>

    </div>

    <div class="col s4 m6" ng-controller="mainController as todoList">
			<ul id="task-card" class="collection with-header">

				<li class="collection-header cyan">
					<h4 class="task-card-title">Tasks</h4>
				</li>

        <li class = "collection-item"><span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
          <button class="secondary-content" ng-click="todoList.archive()">clear</button>
        </li>

        <ul class="unstyled">
          <li ng-repeat="todo in todoList.todos" class="checkbox">
            <label class="checkbox">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
            <a href="#" class="secondary-content"><span class="ultra-small">Today</span></a>
          </li>

        </ul>

        <form ng-submit="todoList.addTodo()">
          <input type="text" ng-model="todoList.todoText"  size="30"
                 placeholder="add new todo here">
          <input class="btn-primary" type="submit" value="add">
        </form>

			</ul>

      <input type="checkbox" id="myCheckbox" class="filled-in" /><label for="myCheckbox">{{todo.text}}</label>
		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js"></script>
    <script src="./app.js"></script>
    <script src="./mainController.js"></script>
    <script src="./mainService.js"></script>
  </body>
</html>
