body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 5em;
}

nav > a {
  cursor: pointer;
}

nav > a:hover {
  font-weight: bolder;
}

img {
  height: 200px;
}
