<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="./stylesheets/stylesheet.css">
  </head>
  <body ng-controller="mainController">

    <div>
      <h2>Add a Quote:</h2>
      <input ng-model="newQuote.text" placeholder="Quote"></input>
      <input ng-model="newQuote.author" placeholder="Author"></input>
      <button ng-click="addData(newQuote)">Add Quote</button>
    </div>

    <h2>Quotes:</h2>

    <div ng-repeat="quote in getQuotes track by $index">
      <p class = "quotes">{{quote.text}}<p>
      <p class = "authors">-{{quote.author}}</p>
      <button class="delete" ng-click="removeData(quote.text)">Delete</button>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="./scripts/app.js"></script>
  <script src="./scripts/controllers/mainController.js"></script>
  <script src="./scripts/services/dataService.js"></script>
  </body>
</html>
