<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body ng-controller="mainController">



		<!-- <ul ng-repeat="item in data">
			<h2>{{item.data.title}}</h2>
			<button ng-click="getSmmry(item); showItemSmmry = !showItemSmmry">Expand</button> -->
        <!-- <NOTE>Trick for getting around toggling everything/ all items in an ng-repeat</NOTE> -->
      <!-- <div ng-show="showItemSmmry">{{item.smmry}}</div> -->
		<!-- </ul>  -->


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="./app.js"></script>
	<script src="./mainController.js"></script>
	<script src="./mainService.js"></script>
	</body>
</html>
